@model QuoteCalculatorViewModel
@{
    ViewBag.Title = "Quote Calculator";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#targetLanguages').multiselect();
        });
    </script>
}

<h2>Quote Calculator</h2>

<form method="post" enctype="multipart/form-data" asp-action="HandleQuote">
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-group">
        <label for="sourceLanguage">Source Language:</label>
        <select id="sourceLanguage" name="SourceLanguage" class="form-control">
            @foreach (var lang in Model.Languages)
            {
                <option value="@lang.Key" selected="@(Model.SourceLanguage == lang.Key ? "selected" : null)">@lang.Value</option>
            }
        </select>
    </div>


    <div class="form-group">
        <label for="targetLanguages">Target Language:</label>
        <select id="targetLanguages" name="TargetLanguages" class="form-control" multiple>
            @foreach (var lang in Model.Languages)
            {
                <option value="@lang.Key" selected=@(Model.TargetLanguages != null && Model.TargetLanguages.Contains(lang.Key) ? "selected" : null)>@lang.Value</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="speciality">Speciality:</label>
        <select id="speciality" name="Speciality" class="form-control">
            @foreach (var speciality in Model.Specialities)
            {
                <option value="@speciality.Key" selected="@(Model.Speciality == speciality.Key ? "selected" : null)">@speciality.Value</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="file">Upload File:</label>
        <input type="file" id="file" name="FileToUpload" class="form-control" required />
    </div>

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary" name="action" value="CalculateQuote">Calculate Quote</button>
    </div>
</form>
