@model StoredQuotesViewModel
@{
    ViewBag.Title = "Quote Calculator";
}

<style>
</style>

@section Scripts {
}

<h2>Quotes</h2>

<form method="post" asp-action="LaunchQuote">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Client
                </th>
                <th>
                    Date created
                </th>
                <th>
                    Order
                </th>
                <th>
                    Fee
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.StoredQuotes != null)
            {
                @foreach (var storedQuote in Model.StoredQuotes)
                {
                    <tr>
                        <td>
                            <a href="#">Test Account</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => storedQuote.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => storedQuote.OrderId)
                        </td>
                        <td>
                            £@Html.DisplayFor(modelItem => storedQuote.Fee)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                            <a asp-action="StoredQuoteDetails" asp-route-storedQuoteId="@storedQuote.Id">Details</a> |
                            <a asp-action="StoredQuoteDelete" asp-route-storedQuoteId="@storedQuote.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
