@model StoredQuoteViewModel
@{
    ViewBag.Title = "Quote Details";
}

<h2>Quote Details</h2>

<p>Client: @(Model.StoredQuote?.ClientId > 0 ? Model.StoredQuote.ClientId.ToString() : "N/A")</p>
@if (Model.StoredQuote?.OrderId > 0)
{
    <p>Order: @(Model.StoredQuote?.OrderId > 0 ? Model.StoredQuote.OrderId.ToString() : "N/A")</p>
}

@if (Model.StoredQuote?.OrderId > 0)
{
    <p>Date: @(Model.StoredQuote?.DateCreated != null ? Model.StoredQuote.DateCreated.ToString() : "N/A")</p>
}

<p>Price total: £@Model.Fee.ToString("N2")</p>

<!-- Add other properties as needed -->

<form method="post" asp-action="LaunchQuote">
    <input type="hidden" name="id" value="@Model.StoredQuote?.Id" />
    <a asp-action="Create" asp-controller="QuoteCalculator" asp-route-storedQuoteId="@Model.StoredQuote?.Id">
        @(Model.StoredQuote?.Id > 0 ? "Add New" : "Create New")
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Document
                </th>
                <th>
                    Source language
                </th>
                <th>
                    Target language
                </th>
                <th>
                    Speciality
                </th>
                <th>
                    Speed
                </th>
                <th>
                    Fee
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.StoredQuote?.TempQuotes != null)
            {
                @foreach (var item in Model.StoredQuote!.TempQuotes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempDocument.OriginalFileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceLanguage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TargetLanguage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Specialities[item.SpecialityId])
                        </td>
                        <td>
                            @(((CAT.Enums.ServiceSpeed)item.Speed).ToString())
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fee)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (Model.StoredQuote?.TempQuotes?.Count > 0)
    {
        <button type="submit" class="btn btn-success">Launch Quote</button>
    }
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success mt-3">
        @ViewBag.Message
    </div>
}
