@model CreateQuoteViewModel
@{
    ViewBag.Title = "Quote Calculator";
}

<style>
</style>

<h2>Quote Calculator</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

@if (Model.ClientId <= 0)
{
    <form method="get" enctype="multipart/form-data" asp-action="Create">
        <input type="hidden" name="ClientId" value="@Model.ClientId" />

        <!-- Row container -->
        <div class="row">

            <!-- Client search - Assuming it takes up, for example, 10 columns -->
            <div class="col-md-10">
                @await Component.InvokeAsync("ClientSearch")
            </div>

            <!-- Button - Taking up the remaining 2 columns -->
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Go</button>
            </div>
        </div>
    </form>
}
else
{
    <form method="post" enctype="multipart/form-data" asp-action="Create">
        <input type="hidden" name="ClientId" value="@Model.ClientId" />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="StoredQuoteId" value="@Model.StoredQuoteId" />

        <h2 name="client"class="mt-3 mb-3">@(Model.Client.Company.Name + " - " + Model.Client.User.FullName)</h2>

        <div class="form-group">
            <label for="SourceLanguage">Source Language:</label>
            <select asp-for="SourceLanguage" class="form-control" asp-items="ViewBag.SourceLanguages"></select>
            <span asp-validation-for="SourceLanguage" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="TargetLanguages">Target Language:</label>
            <select id="targetLanguages" asp-for="TargetLanguages" class="form-control" asp-items="ViewBag.TargetLanguages" required></select>
            <span asp-validation-for="TargetLanguages" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="speciality">Speciality:</label>
            <select asp-for="Speciality" class="form-control" asp-items="ViewBag.Specialities"></select>
            <span asp-validation-for="Speciality" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Service">Service:</label>
            <select asp-for="Service" class="form-control" asp-items="ViewBag.Services"></select>
            <span asp-validation-for="Service" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Service">Client review:</label>
            <input type="checkbox" asp-for="ClientReview" class="form-check-input" />
        </div>

        <div class="form-group mt-5">
            <label for="FileToUpload">Upload File:</label>
            <input type="file" asp-for="FileToUpload" class="form-control" required title="Please upload a file." />
            <span asp-validation-for="FileToUpload" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Service">Filter:</label>
            <select asp-for="Filter" class="form-control" asp-items="ViewBag.Filters"></select>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Calculate Quote</button>
        </div>
    </form>
}


@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            //the multi select dropdown
            var multipleCancelButton = new Choices('[name="TargetLanguages"]', {
                removeItemButton: true,
                //searchResultLimit: 5,
                //renderChoiceLimit: 5
            });
        });
    </script>

        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}
