@model CAT.Helpers.PaginatedList<StoredQuote>
@{
    ViewBag.Title = "Quote Calculator";
}

<style>
</style>

@section Scripts {
}

<h2>Quotes</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<a class="mt-5" asp-action="Create" asp-controller="Quotes" asp-action="Create">Create New</a>

<form class="mt-3" method="post" asp-action="LaunchQuote">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Client
                </th>
                <th>
                    Date created
                </th>
                <th>
                    Order
                </th>
                <th>
                    Fee
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var storedQuote in Model)
            {
                <tr>
                    <td>
                        <a href="#">@Html.DisplayFor(modelItem => storedQuote.Client.Company.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => storedQuote.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => storedQuote.OrderId)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => storedQuote.Fee)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                        @*<a asp-action="StoredQuoteDetails" asp-route-id="@storedQuote.Id">Details</a> |*@
                        <a asp-action="DeleteStoredQuote" asp-route-id="@storedQuote.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

<span class="ms-3">@Model.PageIndex / @Model.TotalPages</span>
