@model CreateQuoteViewModel
@{
    ViewBag.Title = "Quote Calculator";
}

<style>
</style>

<h2>Quote Calculator</h2>

<form method="post" enctype="multipart/form-data" asp-action="HandleQuote">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="StoredQuoteId" value="@Model.StoredQuoteId" />

    <div class="form-group">
        <label for="sourceLanguage">Source Language:</label>
        <select id="sourceLanguage" name="SourceLanguage" class="form-control">
            @foreach (var lang in Model.Languages)
            {
                <option value="@lang.Key" selected="@(Model.SourceLanguage == lang.Key ? "selected" : null)">@lang.Value</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="targetLanguages">Target Language:</label>
        <select id="targetLanguages" name="TargetLanguages" class="form-control" multiple>
            @foreach (var lang in Model.Languages)
            {
                <option value="@lang.Key" selected=@(Model.TargetLanguages != null && Model.TargetLanguages.Contains(lang.Key) ? "selected" : null)>@lang.Value</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="speciality">Speciality:</label>
        <select id="speciality" name="Speciality" class="form-control">
            @foreach (var speciality in Model.Specialities)
            {
                <option value="@speciality.Key" selected="@(Model.Speciality == speciality.Key ? "selected" : null)">@speciality.Value</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="speciality">Service:</label>
        <select id="speciality" name="Service" class="form-control">
            @foreach (var service in Model.Services)
            {
                <option value="@service.Key" selected="@(Model.Service == service.Key ? "selected" : null)">@service.Value</option>
            }
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClientReview, "Client review:")
        @Html.CheckBoxFor(model => model.ClientReview, new { @class = "form-check-input" })
    </div>

    <div class="form-group mt-5">
        <label for="file">Upload File:</label>
        <input type="file" id="file" name="FileToUpload" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="filter">Filter:</label>
        <select id="filter" name="Filter" class="form-control">
            @foreach (var filter in Model.Filters)
            {
                <option value="@filter.Key" selected="@(Model.Filter == filter.Key ? "selected" : null)">@filter.Value</option>
            }
        </select>
    </div>

    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary" name="action" value="CalculateQuote">Calculate Quote</button>
    </div>
</form>


@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <script type="text/javascript">
        var multipleCancelButton = new Choices('#targetLanguages', {
            removeItemButton: true,
            //searchResultLimit: 5,
            //renderChoiceLimit: 5
        });
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
