@model CAT.Models.Entities.Main.Rate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceLanguageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceLanguageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetLanguageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetLanguageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateToClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateToClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateToTranslator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateToTranslator)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
