@model IEnumerable<CAT.Models.Entities.Main.Rate>

@{
    ViewData["Title"] = "Rates";
}

<h1>Rates</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color row align-items-center bg-warning-subtle pb-3">
        <div class="col">
            <label for="sourceLanguageFilter" class="form-label">Source language</label>
            @Html.DropDownList("sourceLanguageFilter", (IEnumerable<SelectListItem>)ViewBag.LanguagesSelectList, new { @class = "form-control"})
        </div>
        <div class="col">
            <label for="targetLanguageFilter" class="form-label">Target language</label>
            @Html.DropDownList("targetLanguageFilter", (IEnumerable<SelectListItem>)ViewBag.LanguagesSelectList, new { @class = "form-control"})
        </div>
        <div class="col">
            <label for="specialityFilter" class="form-label">Speciality</label>
            @Html.DropDownList("specialityFilter", (IEnumerable<SelectListItem>)ViewBag.SpecialitiesSelectList, new { @class = "form-control"})
        </div>
        <div class="col">
            <label for="taskFilter" class="form-label">Task</label>
            <select name="taskFilter" class="form-control">
                <option value="-1" selected="@(ViewBag.taskFilter==-1)">Select all</option>
                <option value="3" selected="@(ViewBag.taskFilter==3)">Translation</option>
                <option value="4" selected="@(ViewBag.taskFilter==4)">Revision</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="submit" value="Go" class="btn btn-default" />
        </div>
        <div class="col-auto">
            <a asp-action="Index" class="btn btn-link">Back to Full List</a>
        </div>
    </div>
</form>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                Source language
            </th>
            <th>
                Target language
            </th>
            <th>
                Speciality
            </th>
            <th>
                Task
            </th>
            <th>
                Client rate
            </th>
            <th>
                Linguist rate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var sourcedLanguage = ((SelectList)ViewBag.LanguagesSelectList).FirstOrDefault(i => i.Value == item.SourceLanguageId.ToString());
            var targetLanguage = ((SelectList)ViewBag.LanguagesSelectList).FirstOrDefault(i => i.Value == item.TargetLanguageId.ToString());
            <tr>
                <td>
                    sourcedLanguage
                </td>
                <td>
                    targetLanguage
                </td>
                <td>
                    @(ViewBag.Specialities[item.Speciality])
                </td>
                <td>
                    @(ViewBag.Tasks[item.Task])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateToClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateToTranslator)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
