@model StoredQuote
@{
    ViewBag.Title = "Quote Details";
}

<h2>Quote details</h2>

<p><b>Client:</b> @(Model.ClientId > 0 ? Model.Client.User.FullName : "N/A")</p>
<p><b>Order:</b> @(Model?.OrderId > 0 ? Model.OrderId.ToString() : "N/A")</p>

@if (Model!.OrderId > 0)
{
    <p>Date: @(Model.DateCreated != null ? Model.DateCreated.ToString() : "N/A")</p>
}

<p><b>Price total:</b> £@Model.Fee.ToString("N2")</p>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<form method="post" asp-action="LaunchStoredQuote">
    <input type="hidden" name="id" value="@Model.Id" />
    @if (Model.OrderId < 0)
    {
        <a asp-action="Create" asp-controller="Quotes" asp-route-storedQuoteId="@Model.Id">@(Model.Id > 0 ? "Add New" : "Create New")</a>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Document
                </th>
                <th>
                    Source language
                </th>
                <th>
                    Target language
                </th>
                <th>
                    Speciality
                </th>
                <th>
                    Speed
                </th>
                <th>
                    Service
                </th>
                <th>
                    Client review
                </th>
                <th>
                    Fee
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TempQuotes != null)
            {
                @foreach (var item in Model.TempQuotes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempDocument.OriginalFileName)
                        </td>
                        <td>
                            @ViewBag.Languages[item.SourceLanguage]
                        </td>
                        <td>
                            @ViewBag.Languages[item.TargetLanguage]
                        </td>
                        <td>
                            @ViewBag.Specialities[item.SpecialityId]
                        </td>
                        <td>
                            @(((CAT.Enums.ServiceSpeed)item.Speed).ToString())
                        </td>
                        <td>
                            @ViewBag.Services[item.Service]
                        </td>
                        <td>
                            @(item.ClientReview.ToString())
                        </td>
                        <td>
                            £@Html.DisplayFor(modelItem => item.Fee)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (Model.TempQuotes?.Count > 0 && Model.OrderId < 0)
    {
        <button type="submit" class="btn btn-success">Launch Quote</button>
    }
</form>

<div class="mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success mt-3">
        @ViewBag.Message
    </div>
}
